html {
  scroll-behavior: smooth;
}

@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #fff;
  --color-base-200: oklch(98% 0 247.9);
  --color-base-300: oklch(93.1% 0 286.4);
  --color-base-content: #333;
  --color-primary: #a3e635;
  --color-primary-content: #333;
  --color-secondary: #64748b;
  --color-secondary-content: #fff;
  --color-accent: oklch(91% 0.08 205.041);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: #e2e8f0;
  --color-neutral-content: #333;
  --color-info: oklch(89% 0.135 126.7);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: #a3e635;
  --color-success-content: #333;
  --color-warning: #f59e0b;
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: #ef4444;
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 2rem;
  --size-selector: 0.3125rem;
  --size-field: 0.28125rem;
  --border: 2px;
  --depth: 1;
  --noise: 1;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";

  --color-base-100: #333; /* основной фон */
  --color-base-200: #2a2a2a;
  --color-base-300: #222;
  --color-base-content: #f3f4f6; /* светлый текст */

  --color-primary: #a3e635; /* тот же, что в светлой теме */
  --color-primary-content: #1a1a1a;

  --color-secondary: #94a3b8;
  --color-secondary-content: #0f172a;

  --color-accent: oklch(70% 0.09 205.041);
  --color-accent-content: oklch(95% 0.05 205.041);

  --color-neutral: #444;
  --color-neutral-content: #f1f5f9;

  --color-info: oklch(70% 0.135 126.7);
  --color-info-content: oklch(95% 0.066 243.157);

  --color-success: #84cc16;
  --color-success-content: #1a1a1a;

  --color-warning: #f59e0b;
  --color-warning-content: #1a1a1a;

  --color-error: #ef4444;
  --color-error-content: #f9fafb;

  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 2rem;
  --size-selector: 0.3125rem;
  --size-field: 0.28125rem;
  --border: 2px;
  --depth: 1;
  --noise: 1;
}
